{% load static %}
{% block content %}

<style>
  html, body {
    height: 100%;
    margin: 0;
  }

  .full-bg {
    background: url("{% static 'img/Malasaga_Background.jpg' %}") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<div class="full-bg">
  <div class="bg-white bg-opacity-75 p-5 rounded shadow text-center">
    <h1 class="display-4 fw-bold mb-4">Malasaga Trading Corporation Time Tracker</h1>

    <form method="POST" action="{% url 'predict_face' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-outline-info btn-lg px-5">
        Start Prediction
      </button>
    </form>
  </div>
</div>

{% endblock %}
